
$block-level-width: 85vw;
$max-block-width: 800px;

$platform-options-height: 60vh;
$platform-options-spacing: 20px;

$default-background: rgb(224, 224, 255);
$default-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

$default-border-color: rgb(112, 112, 255);
$default-border: 1px solid $default-border-color;
$default-border-radius: 8px;